<main id="main" class="main">
    <div class="pagetitle">
        <h1> {{ 'Zone' | translate }}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/"> {{ 'Home' | translate }}</a></li>
                <li class="breadcrumb-item"> {{ 'Zone' | translate }}</li>
                <li class="breadcrumb-item active"> {{ 'List' | translate }}</li>
            </ol>
        </nav>
    </div>
    <div class="col-lg-4">
        <input class="form-control" #filterBy (change)="Filter(filterBy.value)" />
    </div>
    <div class="text-end col-lg-12">
        <button class="btn btn-primary text-end mb-3" (click)="openAddModal(add)">
            {{ 'Add Zone' | translate }}</button>
    </div>
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4" *ngFor="let data of filterdZones; let i = index">
                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                        <h2>{{data.Name}}</h2>
                        <span>{{data.RowStatus == 0 ? "Active" : "In Active" | translate }}</span>
                        <div class="social-links mt-2">
                            <a id="updateButton" (click)="openEditModal(add,data)" class="btn btn-warning text-white"><i
                                    class="bi bi-pencil"></i> {{ 'Update' | translate }}
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<ng-template #add>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"> {{ isEditing ? 'Update Zone':'Add Zone' | translate }}</h5>
            <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()"></button>
        </div>

        <div class="card">
            <div class="card-body">
                <form class="needs-validation" [formGroup]="dataForm" (submit)="submit()">

                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <div class="form-floating"> <input type="text" class="form-control" id="Order"
                                        placeholder="Name" formControlName="Name"> <label for="Name"> {{ 'Name' |
                                        translate }}</label></div>
                            </div>
                            <div class="col-md-12 form-floating mb-3">
                                <select class="form-select" id="RowStatus" formControlName="RowStatus"
                                    aria-label="State">
                                    <option value=0> {{ 'Active' | translate }}</option>
                                    <option value=1> {{ 'InActive' | translate }}</option>
                                </select>
                                <label for="RowStatus"> {{ 'Status' | translate }}</label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer"> <button type="button" class="btn btn-secondary" (click)="closeModal()">
                            {{ 'Close' | translate }}</button> <button [disabled]="!dataForm.valid" type="button"
                            type="submit" class="btn btn-success"> {{ 'Save Changes' | translate }}
                        </button></div>
                </form>

            </div>
        </div>

    </div>

</ng-template>