
<main id="main" class="main">

    <div class="iconcontainer" (click)="goToHome()">
        <i class="bi bi-arrow-left-short"></i>
        <div>GO TO HOME</div>
    </div>
    <div class="container col-md 12">
        <h1>የፕላንና ልማት ቢሮ ዓላማዎች</h1>
        
        <div class="vision-mission-container">
            <div class="vision">
                <h2>ራዕይ</h2>
                <p>በ2022 ዓ.ም ኢኮኖሚውን በረጅም ጊዜ ዕይታ በመምራት፣ዜጎችን እኩል የልማት ተሳታፊና ፍትሀዊ ተጠቃሚ በማድረግ መሠረታዊ የኢኮኖሚ ለውጥና ዘላቂ ልማት ለማረጋገጥና ድህነትን ለመቀነስ የልህቀት ማዕከል መሆን፡፡</p>
            </div>
            
            <div class="mission">
                <h2>ተልዕኮ</h2>
                <p>የክልሉን ኢኮኖሚ ሳይንሳዊ በሆነ ጥበብ በረጅም ጊዜ ዕይታ መምራት፣ ክልላዊ የልማት ቅደም ተከተል በማውጣት ውስን የማስፈፀሚያ ሀብት ውጤታማ በሆኑ የልማት ሥራዎች ላይ ተመድቦ ሥራ ላይ እንዲውል ማድረግ፣ የክልሉን ህዝብ በልማት እኩል ተሳታፊና ፍትሀዊ ተጠቃሚ የሚያደርግ ፈጣን መዋቅራዊ ለውጥ ማምጣት፣ ዘላቂ ልማት ማረጋገጥ እና ድህነትን ትርጉም ባለው ደረጃ መቀነስ፡፡</p>
            </div>
        </div>
        <div class="goal">
            <h2>ዕሴቶች</h2>
            <ul>
                <li>በአገልግሎት ፈላጊዎች መካከል ልዩነት አናደርግም፡፡</li>
                <li>በግልጽነትና ተጠያቂነት መርህ እንሰራለን፡፡</li>
                <li>ለደንበኞችና ለባለድርሻ አካላት ቀልጣፋ፣ ወጪ ቆጣቢና ተደራሽ የሆነ አገልግሎት እንሰጣለን፣</li>
                <li>ከሚመለከታቸው አካላት ጋር በትብብር እንሰራለን፡፡</li>
                <li>የስራ ፍቅር፣ ከበሬታና መልካም ስነ-ምግባር መለያችን ይሆናል፡፡</li>
                <li>የዕለት ሥራዎችን በዕለቱ እንዲከናወኑ ማድረግ የሥራ መመሪያችን ነው፡፡</li>
            </ul>
        </div>
        <div class="policy">
            <h2>የትኩረት መስኮች</h2>
            <ul>
                <li>አገራችንና ክልላችን በረጀም ጊዜ የከተማነት ምጣኔ እንዲያድግ በኢንዱስትሪና በአገልግሎት ዘርፍ የሚሠማራው የሰው ኃይል ቁጥር እየጨመረ፤ የግብርና ድርሻ እየቀነሰ እንዲመጣ ታልሞ እየተሰራ ነው፣ በመሆኑም ይህን ተግባር ለማስፈፀም በክልላችን በርካታ ቀበሌዎች ወደ ከተማነት እያደጉ ሲሆን፤ ከተሞችም ደረጃቸውን እያሻሻሉይገኛሉ፡፡ በመሆኑም ህዝብ ቁጥርን እንደገና የማደራጀትና የዕቅድ ክለሳ ማካሄድ፤ የመልካም አስተዳደር ችግርን መፍታት፡ </li>
                <li>የማክሮ ኢኮኖሚ ሁኔታ ከተገማች እንድምታዎቻቸው ጋር በማዛመድ ክልላዊ የልማት ፕላን አፈፃፀምን ለመከታተልና ለመገምገም የሚያስችል የተሟላ ወጥ የሆነ የክትትልና ግምገማ ሥርዓት መዘርጋትና በሥራ ላይ ማዋል፡፡</li>
                <li>ውጤታማ የካፒታል ኘሮጀክቶች እቅድ አፈፃፀም ክትትልና ግምገማ ስርዓት መዘርጋትና ኘሮጀክቶች ያሉበት ደረጃ ከሚመለከታቸው መ/ቤቶች ጋር በመቀናጀክት የመከታተልና መገምገም ስራዎች ማከናወን፡፡</li>
                <li>የክልሉን የማኅበራዊ፣ ኢኮኖሚያዊ፣ መልክዐ-ምድራዊና ስነ-ህይወታዊ መረጃዎችን እንዲሰባሰቡ፣ እንዲደራጁ፣ ለተጠቃሚ አመቺ በሆነ ሥርዓት እንዲከማቹ ተገቢውን ሥርዓት መዘርጋት፡፡</li>
                <li>በ2016 በጀት ዓመት የስነ ህዝብና ልማት ትስስር ዙሪያ ህብረተሰቡና አመራሩ ያለበትን የግንዛቤ ክፍተት የመሙላት፣ ሴክተር መ/ቤቶች የስነ ህዝብን ጉዳዩችን በልማት እቅዳቸው ውስት አካተው እንዲያቅዱ ማድረግና ተግባራዊነቱን መከታተል እና ወቅታዊ የሆነ የስነ ህዝብ መረጃ አደራጅቶ መያዝ ትኩረት ተሰጥቷቸው የሚሠሩ ተግባራት ናቸው፡፡</li>
                <li>በእቅድ ዝግጅትና በአፈፃፀም ክትትልና ግምገማ የባለብዙ ዘርፍ ጉዳዮችን ማለትም የሥነ ህዝብ ጉዳዮች፣ የወጣቶች፣ የሥርዓተ-ፆታ ጉዳዮች፣ የአካባቢ ጉዳዮች፣ ለአየር ንብረት ለውጥ የማይበገር አረንጓዴ ኢኮኖሚ ጉዳዮች፣ የማህበራዊ ጉዳይ እና ኤች አይቪ ኤድስ ጉዳዮች ወዘተ እንደ የአግባቡ በክፍላተ ኢኮኖሚ ዕቅዶች መካተታቸውን የማረጋገጥ </li>
            </ul>
        </div>
        <div class="additional-info">
            <h2>የትኩረት አቅጣጫዎች</h2>
            <ul>
                <li>የክልሉን የመረጃ ስርዓት ማዘመን፣ጥራቱን ማስጠበቅና ተደራሽነቱን ማረጋገጥ፤</li>
                <li>የስታትስቲክስ፤አሰተዳደራዊ መረጃና የጅኦሰፓሻል መረጃዎች ስታንዳርድ ማዘጋጅትና በክልሉ ተግባራዊ እንዲሆን መደገፍና መከታተል፡፡</li>
                <li>የ10 ዓመት መሪ የልማት እቅዱን  በየደረጃው ላሉ የሚመለከታቸው አካላት ኦሬንቴሽን መስጠት እንዲሁም በዞንና በወረዳ ደረጃ እቅዱ እንዲዘጋጅ ክትትልና ድጋፍ ማድረግ፣</li>
                <li>የህዝብና ቆጠራ  እንዲካሄድ  ክትትል ማድረግ አስተዳደራዊ መረጃ በየደረጃው እንዲሰበሰብ ማድረግ፡፡ </li>
                <li>በስነ-ህዝብ እና ልማት ጉዳዮች ዙሪያ የህብረተሰቡንና የዉሳኔ ሰጭ አካላትን ግንዛቤ ለማሳደግ የትምህርትና ቅስቀሳ ተግባራትን አጠናክሮ መቀጠል፣</li>
                <li>በክልሉ ቀጣይነት ያለው ልማት እንዲረጋገጥ በስነ ህዝብና ልማት ትስስር ዙሪያ ለህብረተሰቡና ለአመራሩ ግንዛቤ ለመፍጠር በትኩረት መስራት፣</li>
                <li>በየደረጃው የስነ-ህዝብ ጉዳይ ምክር ቤቶችን ማቋቋምና ማጠናከር፣ </li>
                <li>ክልሉ ከስነ-ህዝብ መልካም አጋጣሚዎች/Demografic Opportunity/ ተጠቃሚ የሚሆንበትን አቅጣጫ መከተል፣ </li>
                <li>በክልሉ ወቅታዊ የስነ-ህዝብ መረጃ እንዲኖር ከሚመለከታቸው አካላት ጋር በቅንጅት መስራት እንዲሁም የጥናትና ምርምር ስራዎችን በማካሄድ ወቅታዊ የሆነ የስነ ህዝብ መረጃ እንዲኖር ተገቢዉን ትኩረት ሰጥቶ መስራት።</li>
                <li>ከክልል እስከ ቀበሌ በተደራጀና በተጠና መልኩ በመውረድ የልማትና መልካም አስተደደር ስራዎችን መከታተል፣በመደገፍና በመገምገም ስራዎች ምን ላይ እንደደረሱ በመለየት ለበላይ አካል ምክረ ሀሳብ ማቅረብ፣</li>
                <li>ወጥ የሆነ የሪፖርት ፎርማቶችን በማዘጋጀት ከክልል እስከ ዞን ተመሳሳይ የሆነ የሪፖርት ቅብብሎሽ እንዲኖር ማድረግ ከክልል እስከ ወረዳ የሚገኙ ባለሙያዎችን አቅም በማጐልበት ወጥ የሆነ የክትትልና ግምገማ አስራር በክልሉ መፍጠር፤</li>
                <li>የክትትልና ግምገማ ስራው አብዛኛው በመስክ ስራ በታጀበ ድጋፍ፣ክትትልና ግምገማ በማድረግ ሪፖርት የሚጠበቅ ስለሆነ ለቀጣይ ትኩረት እንዲሰጠዉ ማድረግ፡፡</li>
                <li>ለክልል ባለበጀት መ/ቤቶች ባለሙያዎች በመደበኛና በካፒታል ፕሮጄክት እቅድና ዝግጅት አፈፃፀም  ዙሪያ ስልጠና መስጠት፣የተቋማትን መረጃ አያያዝ መፈተሽና ወጥ የሆነ ስርዓት  መዘርጋት </li>
                <li>የሰው ሃይል መመሪያና ደንቦችን በአግባቡ መፈጸምና እንዲፈጸሙ ማድረግ፤</li>
                <li>የደንበኞችን እርካታ ለማሳደግ እንዲቻል በምንሰጣቸው አገልግሎቶች ላይ መልካም አስተዳደርን ማስፈንና የኪራይ ሰብሳቢነት አስተሳሰብና ተግባር እንዳይከሰት ትግል ማድረግ፣</li>
                <li>ሁሉም ፈጻሚዎች ከተግባራቸው አኳያ የራሳቸውን የአገልግሎት አሰጣጥ ስታንዳርድ እንዲያዘጋጁና በተግባር እንዲያውሉ ማገዝ፣</li>
                <li>ተግባራት በተቀመጠላቸው ጊዜ መሰረት እንዲፈጸሙ ጥብቅ የስራ ዲሲፕሊንና የክትትልና ድጋፍ ስርዓትን መከተል፣</li>
                <li>ለዉሳኔ ሰጭ አካላት እና ለአመራሮች ለስነ-ህዝብ ጉዳዮች ትኩረት ሰጥተው እንዲሰሩ ለማድረግ በክልሉ የበላይ አመራሮች በኩል አቅጣጫ እንዲሰጥ ማድረግ፤ </li>
                <li>በዕቅድ የተያዙ የካፒታል ፕሮጀክቶች ዕቀድ በማዘጋጀትም ሆነ በመተግበር ሂደት የሚያጋጥሙ ችግሮችንና ክፍተቶችን በጥናት በመለዬት ክፍተቶችን መሙላት፣ </li>
                <li>በክልሉ ውስጥ ወጥ የሆነ አሰራር ከመዘርጋት አንጻር አዳዲስ የካፒታል ፕሮጀክቶች አስተዳደር አዋጅ ማጸደቅ፣ የስልጠና ማንዋሎችን ማዘጋጀት፣ የአሰራር ማዕቀፎችን፣ ስርዓቶችንና መመሪያዎችን እንዲዘጋጁ በማድረግ ወደ ስራ እንዲገቡ ማድረግ፤  </li>
                <li>የክልል ኢኮኖሚ አካውንት አጠቃላይ አሰራርና አጠቃቀም በተመለከተ የመረጃ አቅራቢዎችና ተጠቃሚዎች የውይይት መድረኮች (Producer - User Forum) በማዘጋጀት ግብረ -መልሶችን በማሰባሰብ የአሰራር ሂደቶችን ለማሻሻል በግብዓትነት የመጠቀም አቅጣጫን፤  </li>
            </ul>
        </div>
    </div>
    
    
    
</main>
