  <div>
      <div class="text-end col-lg-12">
        
        <!-- <button class="btn btn-outline-success text-end mb-3" (click)="exportAsExcel()"><i class="bi bi-file-excel"></i>
          Export Excel </button> -->
      </div>
      <div class="table-responsive">
        <table class="table table-bordered mt-2 " id="myTable">

          <thead>
            <tr>
              <th scope="col" rowspan="2" style="border: 1px solid black;">ዋና ዋና የሚጠበቁ ስኬቶች</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የአፈጻጸም አመልካቾች</th>
              <th scope="col" colspan="1" style="border: 1px solid black;">መነሻ ዓመት</th>
              <th scope="col" [attr.colspan]="yearLength" style="border: 1px solid black;">ዒላማዎች</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የመረጃ ምንጭ</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የክትትልና ግምገማ ተግባሩን የሚያስተባብረው የዘርፉ መ/ቤት ስም</th>
            </tr>
            <tr>
              <th scope="col" style="border: 1px solid black;">{{kpiData.StartYear}}</th>
              
              <th scope="col" style="border: 1px solid black;" *ngFor="let item of kpiData.ActiveYears">{{item}}</th>
              
              
              
            </tr>
          </thead>

          
          <tbody class="labels">
              <ng-container *ngFor=" let item of kpiData.KpiDetails; let i= index">

                  <tr>
                      <td [attr.rowspan]="item.Details.length +1" style="border: 1px solid black; background-color: #e8ffde">{{item.MainGoal}}</td>
          
                  </tr>
                  <tr *ngFor=" let itm of item.Details; let j = index">
                      <td style="border: 1px solid black; background-color: #e8ffde;">{{itm.Title}}</td>
                      <td style="border: 1px solid black; background-color: #e8ffde;"></td>
                      <td style="border: 1px solid black; background-color: #e8ffde;" *ngFor="let item of kpiData.ActiveYears"></td>
                      <td [attr.rowspan]="item.Details.length +1" style="border: 1px solid black; background-color: #e8ffde;" *ngIf="j == 0">{{kpiData.EncoderOrganizationName}}</td>
                      <td [attr.rowspan]="item.Details.length +1" style="border: 1px solid black; background-color: #e8ffde;" *ngIf="j == 0">{{kpiData.EvaluatorOrganizationName}}</td>
                  </tr>
                  
              </ng-container>
          
          </tbody>
          
        </table>
      </div>
    </div>
    
