<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">  {{ 'Add Inside Case' | translate }}</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title">{{ 'Case Detail' | translate }}</h5>



            <form class="" [formGroup]="caseForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">


                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="CaseNumber" placeholder="CaseNumber"
                                    [disabled]="true" [value]="CaseNumber">
                                <label for="CaseNumber">{{ 'Case Number' | translate }}</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="LetterNumber" placeholder="LetterNumber"
                                    formControlName="LetterNumber">
                                <label for="LetterNumber"> {{ 'Letter Number' | translate }}</label>
                            </div>
                        </div>
                      
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="LetterSubject" placeholder="LetterSubject"
                                    formControlName="LetterSubject">
                                <label for="LetterSubject"> {{ 'Subject' | translate }}</label>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="CaseTypeId" formControlName="CaseTypeId" #InsideCase
                                    (change)="getFiles(InsideCase.value)" aria-label="State">

                                    <option *ngFor="let InsideCase of InsideCases" value={{InsideCase.Id}}>
                                        {{InsideCase.Name}}</option>


                                </select>
                                <label for="CaseTypeId"> {{ 'Inside Case Type' | translate }} </label>
                            </div>
                        </div> -->

                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <ng-select
                                [items]="InsideCases"
                                bindLabel="Name"
                                bindValue="Id"
                                [searchable]="true"
                                placeholder="{{ 'Inside Case Type' | translate }}"
                                formControlName="CaseTypeId"
                                (change)="getFiles($event?.Id)"
                                >
                                </ng-select>
                                
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="PhoneNumber2" placeholder="PhoneNumber2"
                                    formControlName="PhoneNumber2">
                                <label for="PhoneNumber2"> {{ 'Phone Number 2' | translate }} </label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Representative" placeholder="Representative"
                                    formControlName="Representative">
                                <label for="Representative"> {{ 'Representative' | translate }}</label>
                            </div>
                        </div>

                        <div class="col-md-4 ">
                            <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Document' | translate }}</label>
                            <div class="col-sm-12"> <input (change)="onFileSelected($event)" multiple
                                    class="form-control" type="file" id="formFile"></div>


                            <app-scanner (imagesScannedUpdated)="onImagesScannedUpdate($event)"></app-scanner>
                        </div>

                        <div class="col-md-4">
                            <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Steps' | translate }}</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"> {{ 'Child Cases' | translate }}</th>


                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let childCase of childCases; let i = index">
                                        <th>{{i+1}}</th>
                                        <th>{{childCase.Name}}</th>

                                    </tr>

                                </tbody>
                            </table>



                        </div>
                        <div class="col-md-4">
                            <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Expected Files' | translate }}</label>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col"> {{ 'File Name' | translate }}</th>
                                     

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let fileSetting of fileSettings; let i = index">
                                        <th>{{i+1}}</th>
                                        <th>{{fileSetting.Name}}</th>
                                    
                                    </tr>

                                </tbody>
                            </table>



                        </div>




                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()"> {{ 'Close' | translate }}</button>
                    <button type="button" type="submit" [disabled]="!(caseForm.valid)"
                        class="btn btn-success"> {{ 'Create' | translate }}</button>
                </div>
            </form>



        </div>
    </div>

</div>