
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> {{'Add KPI Details' | translate}}</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>
    
    <div class="card">
        
        <div class="card-body">
            <form class="" [formGroup]="kpiDetailsForm" (ngSubmit)="submit()">
                <div class="modal-body">
                    <div class="row g-3">
    
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Goal" placeholder="Goal"
                                    formControlName="Goal">
                                <label for="Goal"> {{'Goal' | translate}}</label>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                    placeholder="Address" id="Remark" style="height: 120px;"></textarea><label
                                    for="Remark"> {{'Remark' | translate}}</label>
                            </div>
                        </div>

                        <div *ngIf="!HasSubsidiaryOrganization" class="card">

                            <div class="card-body">
                                <h5 class="card-title"> {{'Add KPI Goal Details' | translate}}</h5>
                                <form #itemsForm="ngForm">
                                    <div class="row p-2 mb-2">
                                    
                                        
                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                
                                                <input type="text" class="form-control" id="quantity"
                                                required [(ngModel)]="addKpiDetails.Title" [disabled]= "!kpiDetailsForm.value.Goal" [ngModelOptions]="{standalone: true}" >
                                                <label for="quantity"> {{'KPI Title' | translate}}</label>
                                            </div>
                                            
                                                                        
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-floating">
                                                
                                                <input type="number" class="form-control" id="quantity"
                                                required [(ngModel)]="addKpiDetails.StartYearProgress" [disabled]= "!kpiDetailsForm.value.Goal" [ngModelOptions]="{standalone: true}" >
                                                <label for="quantity"> {{'Start Year Progress' | translate}}</label>
                                            </div>
                                        </div>
                                        
                                             
                                        <div class="col-md-3">
                                            <!-- <label></label><br/> -->
                                            <button pButton type="button" icon="pi pi-plus" [disabled]="!itemsForm.valid" class="ui-button-info btn-sm"
                                                (click)="newRow()"></button>
                                        </div>
                                    </div>
                                </form>
                            
                                <div class="p-fluid p-formgrid grid">
                                    <p-table #dt [value]="kpiDetails" responsiveLayout="scroll">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                
                                                <th> {{'Title' | translate}}</th>
                                                        
                                                <th style="width:8em"></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-items>
                                            <tr>
                                                
                                                <td>
                                                    {{items.Title}}
                                                </td>
                                                <td>
                                                    {{items.StartYearProgress}}
                                                </td>
                                                <td style="text-align:center">
                                                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger"
                                                        (click)="removeRow(items.Title)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>


                </div>
    
                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                        (click)="closeModal()"> {{'Close' | translate}}</button>
                    <button type="button" type="submit"
                        [disabled]="!(kpiDetailsForm.valid)"
                        class="btn btn-success"> {{'Create' | translate}}</button>
                </div>
            </form>
        
        </div>
    </div>
    
</div>