
    <!-- <div class="modal-header">
        <h5 class="modal-title">Add Case</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div> -->

    

    <div class="card-body">
        <h5 class="card-title"> {{ 'Case Detail' | translate }}</h5>
        
        <form class="" [formGroup]="caseForm" (ngSubmit)="submit()">
            <div class="modal-body">
                <div class="row g-3">


                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="CaseNumber" placeholder="CaseNumber"
                                [disabled]="true" [value]="CaseNumber">
                            <label for="CaseNumber"> {{ 'Case Number' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="LetterNumber" placeholder="LetterNumber"
                                formControlName="LetterNumber">
                            <label for="LetterNumber"> {{ 'Letter Number' | translate }}</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="ApplicantId" formControlName="ApplicantId"
                                aria-label="State">

                                <option *ngFor="let applicant of applicants" value={{applicant.Id}}>
                                    {{applicant.Name}}</option>


                            </select>
                            <label for="ApplicantId"> {{ 'Applicant' | translate }} </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span style="font-size:20px;align-self: center; cursor: pointer;" (click)="addApplicant()"
                            class="badge bg-success"><i class="bi bi-plus"></i></span>

                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="LetterSubject" placeholder="LetterSubject"
                                formControlName="LetterSubject">
                            <label for="LetterSubject"> {{ 'Subject' | translate }}</label>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="CaseTypeId" formControlName="CaseTypeId" #outsideCasee
                            (change)="getChildCases(outsideCasee.value)" aria-label="State">

                                <option *ngFor="let outsideCase of outsideCases" value={{outsideCase.Id}}>
                                    {{outsideCase.Name}}</option>


                            </select>
                            <label for="CaseTypeId"> {{ 'OutSide Case Type' | translate }} </label>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <ng-select
                            [items]="outsideCases"
                            bindLabel="Name"
                            bindValue="Id"
                            [searchable]="true"
                            placeholder="{{ 'Select OutSide Case Type' | translate }}"
                            formControlName="CaseTypeId"
                            (change)="getChildCases($event?.Id)"
                            >
                            </ng-select>
                            
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <app-autocomplete [data]="outsideCases" 
                            placeHolder="OutSide Case Type" >
                        </app-autocomplete>
                        
                    </div> -->

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="PhoneNumber2" placeholder="PhoneNumber2"
                                formControlName="PhoneNumber2">
                            <label for="PhoneNumber2"> {{ 'Phone Number 2' | translate }} </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="Representative" placeholder="Representative"
                                formControlName="Representative">
                            <label for="Representative"> {{ 'Representative' | translate }}</label>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Child Case Types' | translate }}</label>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> {{ 'Child Case Type Title' | translate }}</th>
                                    <th scope="col"> {{ 'Total Payment' | translate }}</th>
                                    <th scope="col"> {{ 'Measurement Unit' | translate }}</th>
                                    <th scope="col">SMS Code {{ 'SMS Code' | translate }}</th>
                                    

                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let child of childCases; let i = index">
                                    <th>{{i+1}}</th>
                                    <th>{{child.CaseTypeTitle}}</th>
                                    <th>{{child.TotalPayment}}</th>
                                    <th>{{child.Counter}} {{child.MeasurementUnit}}</th>
                                    <th>{{child.Code}}</th>
                                    
                                    <!-- <th><input id={{i}} class="form-control" required
                                            (change)="onFileSettongSelected(fileSetting.Id,$event)" type="file">
                                    </th> -->
                                </tr>

                            </tbody>
                        </table>



                    </div>
                    


                </div>

            </div>
            <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                    (click)="closeModal()">{{ 'Close' | translate }} </button>
                <button type="button" type="submit"
                    [disabled]="!(caseForm.valid)"
                    class="btn btn-success">{{ 'Create' | translate }}</button>
            </div>
        </form>






    </div>


