
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add Subsidiary Organization</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()"></button>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Subsidiary Detail</h5>



            <form class="needs-validation" [formGroup]="subOrgForm" (submit)="submit()">

                <div class="modal-body">
                    <div class="row g-3">
                        <!-- <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="branchList"
                                    formControlName="OrganizationBranchId"  (change)="onBranchChange()" aria-label="State">
                                    
                                        <option *ngFor="let bl of branchList"  value={{bl.Id}}>{{bl.Name}}</option>
                                    
                                </select>
                                <label for="branchList">Branch List</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <select class="form-select" id="ParentStructureId"
                                    formControlName="ParentStructureId" aria-label="State">
                                    
                                        <option></option>
                                        <option *ngFor="let ps of parentStructureList" value={{ps.Id}}>{{ps.Name}}</option>
                              

                                </select>
                                <label for="ParentStructureId">Parent Structure</label>
                            </div>
                        </div> -->
                        <div class="col-md-5">
                            <div class="form-floating"> <input type="text" class="form-control"
                                    id="floatingName" placeholder="Subsidiary English Name" 
                                    formControlName="OrganizationNameEnglish">
                                <label for="floatingName">Subsidiary English Name</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-floating"> <input type="text" class="form-control"
                                    id="floatingName" placeholder="Subsidiary Local Name" 
                                    formControlName="OrganizationNameInLocalLanguage">
                                <label for="floatingName">Subsidiary Local Name</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-floating"> <input type="text" class="form-control"
                                    id="Address" placeholder="Address" 
                                    formControlName="Address">
                                <label for="Address">Address</label>
                            </div>
                        </div>

                        
                        
                        <div class="col-md-5">
                            <div class="form-floating"> <input type="text" class="form-control" id="PhoneNumber"
                                    placeholder="Phone Number"  formControlName="PhoneNumber"> <label
                                    for="PhoneNumber">Phone Number</label></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-floating"> <input type="text" class="form-control" id="SMSCode"
                                    placeholder="SMS Code"  formControlName="SmsCode"> <label
                                    for="SmsCode">SMS Code</label></div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-check"> <input class="form-check-input" formControlName="isRegulatoryBody"
                                    type="checkbox" id="gridCheck"> <label class="form-check-label"
                                    for="gridCheck">Is Regulatory Body</label></div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating"><textarea  class="form-control"
                                    formControlName="Remark" placeholder="Remark" id="Remark"
                                    style="height: 100px;"></textarea><label for="Remark">Remark</label></div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                       (click)="closeModal()">Close</button> <button [disabled]="!subOrgForm.valid" type="button" type="submit"
                        class="btn btn-success">Save
                        changes</button></div>
            </form>

        </div>
    </div>

</div>
