<div class="cool-autocomplete-container">
    <ng-autocomplete 
    [data]="data"      
    searchKeyword="Name"
    multiple
    [disabled]="isDisabled"

    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate" 
    [placeholder]="placeHolder"
    [initialValue]="key[0]"  required #newItem class="cool-autocomplete"
    >                                 
    </ng-autocomplete>
</div>
<ng-template #itemTemplate let-item>
    <a [innerHTML]="item.Name"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
    <div [innerHTML]="notFound"></div>
</ng-template>

