<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> {{ 'Add Projects' | translate }}</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h5 class="card-title"> {{ 'Project Detail' | translate }}</h5>

            <div class="row">
                <div class="col-lg-9">
                    <form class="" [formGroup]="transferForm" (ngSubmit)="submit()">
                        <div class="modal-body">
                            <div class="row g-3">

                          

                                    <div class="form-floating mb-3" >
                                        <select class="form-select" id="branch" #branch (change)="getStructures(branch.value)"
                                      >
                                       <option value=""></option>
                                        <option *ngFor="let branch of Branches" [value]="branch.Id"  > {{branch.Name}}  </option>   
                                    </select>
                                        <label for="branch"> {{ 'Brnaches' | translate }}</label>
                                    </div>
                                    <div class="form-floating mb-3" >
                                        <select class="form-select" id="Structure" #structure  (change)="getEmployees(structure.value)"
                                        formControlName="ToStructureId">
                                        <option value=""></option>
                                        <option *ngFor="let structure of Structures" [value]="structure.Id"> {{structure.Name}}</option>   
                                    </select>
                                        <label for="Structure"> {{ 'Structure' | translate }}</label>
                                    </div>
                                    <div class="form-floating " >
                                        <select class="form-select" id="ForEmployee" 
                                        formControlName="ToEmployeeId">
                                        <option value=""></option>
                                        <option *ngFor="let employee of Employees" [value]="employee.Id"> {{employee.Name}}</option>   
                                      </select>
                                        <label for="ForEmployee"> {{ 'For Employee' | translate }}</label>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating"><textarea class="form-control" formControlName="Remark"
                                                placeholder="Address" id="Remark" style="height: 120px;"></textarea><label
                                                for="Remark">Remark</label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Documents' | translate }}</label>
                                        <div class="col-sm-12"> <input (change)="onFileSelected($event)"  class="form-control" multiple type="file" id="formFile"></div>
                                    
                                        <app-scanner (imagesScannedUpdated)="onImagesScannedUpdate($event)"></app-scanner>
                                        <label for="inputNumber" class="col-sm-12 col-form-label">{{CaseId}}</label>
                                        <qrcode [qrdata]="qrData" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                                        <div *ngIf="mobileUplodedFiles && mobileUplodedFiles.length > 0">
                                            <label for="inputNumber" class="col-sm-12 col-form-label"> {{ 'Mobile Uploded Files' | translate }}</label>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"> {{ 'File' | translate }}</th>
                                                        <th scope="col"> {{ 'Action' | translate }}</th>
                                                        <!-- <th scope="col">Files /Statments</th> -->
                                                        <!-- <th scope="col">Document Checked</th> -->

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr *ngFor="let attachment of mobileUplodedFiles; let i = index">
                                                        <th>File {{i+1}}</th>
                                                        <th>

                                                            <a class="btn btn-outline-primary m-2" [href]="viewFile(attachment.filePath)"
                                                                target="_blank">
                                                                 {{ 'View File' | translate }}
                                                            </a>

                                                            <!-- <a class="btn btn-outline-danger m-2" (click)="RemoveFile(attachment.Id)">
                                                                            Remove File
                                                                        </a> -->
                                                        </th>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                            </div>

                        </div>
                        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                                (click)="closeModal()"> {{ 'Close' | translate }}</button>
                            <button type="button" type="submit" [disabled]="!transferForm.valid"
                                class="btn btn-success"> {{ 'Transfer' | translate }}</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="modal-content ">
                        <div class="modal-header bg-danger text-white">
                            <h5 class="modal-title">{{CaseTypeName}}</h5>

                        </div>

                         <div class="modal-body" *ngIf="caseState">
                             
                           <div class="card-title text-center"> {{ 'Current State' | translate }} :</div>
                           <div class="text-center">{{caseState.CurrentState!}}</div> 

                           <div class="card-title text-center"> {{ 'Needed Documents' | translate }} :</div>
                           <div class="text-center">
                            
                            <span *ngFor="let doc of caseState.NeededDocuments">{{doc}}</span>


                        
                        
                        
                        </div> 


                           <div class="card-title text-center"> {{ 'Next State' | translate }} :</div>
                           <div class="text-center">{{caseState.NextState!}}</div> 
                         
                            
                          
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

</div>