<main id="main" class="main">
    <div class="pagetitle">
       <h1> {{ 'Cases' | translate }}</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">{{ 'Home' | translate }}</a></li>
             <li class="breadcrumb-item"> {{ 'Case' | translate }} </li>
             <li class="breadcrumb-item active"> {{ 'List' | translate }}</li>
          </ol>
       </nav>
    </div>
  
    <section class="section profile">

        
      <button class="btn btn-primary text-end mb-3"> <a routerLink="/casehistory"> {{ 'Assign Case' | translate }}</a></button>

        
      
    </section>
 </main>