<main id="main" class="main">
    <div class="pagetitle">
      <h1> {{'Subsidiary Organization' | translate}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/"> {{'Home' | translate}}</a></li>
          <li class="breadcrumb-item"> {{'Organization' | translate}}</li>
          <li class="breadcrumb-item active"> {{'Subsidiary Organization' | translate}}</li>
        </ol>
      </nav>
    </div>
    
    <section class="section">
  
      <div class="row"> 
          <div class="card">
            <div class="text-end col-lg-12 mt-3">
              <button class="btn btn-primary text-end mb-3" (click)="addModal()">  {{'Add Subsidiary Organization' | translate}}
                 </button>
           </div>
             <p-table [value]="subOrgs" dataKey="Id" [tableStyle]="{'min-width': '60rem'}">
              <ng-template pTemplate="header">
                  <tr>
                      <th style="width: 5rem"></th>
                      <th> {{'Name' | translate}} </th>
                      <th> {{'Local Name' | translate}}</th>
                      <th> {{'Address' | translate}} </th>
                      <th> {{'Phone Number' | translate}}</th>
                      <th> {{'Status' | translate}}</th>
                      <th> {{'Action' | translate}}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-suborg let-expanded="expanded">
                  <tr>
                      <td>
                          <button type="button" pButton pRipple [pRowToggler]="suborg" 
                            class="p-button-text p-button-rounded p-button-plain" 
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                      </td>
                      <td>{{suborg.OrganizationNameEnglish}}</td>
                      <td>{{suborg.OrganizationNameInLocalLanguage}}</td>
                      <td>{{suborg.Address}}</td>
                      <td>{{suborg.PhoneNumber}}</td>
                      <td><div class="badge-container" *ngIf="suborg.isRegulatoryBody" >
                        <span class="badge badge-pill" style="background-color: green; color: white;">Regulatory body</span></div></td>
                      <td>
                        <button class="btn btn-sm btn-outline-warning " (click)="UpdateSubOrg(suborg)"><i class="pi pi-pencil"></i></button> <br/>
                        <button class="btn btn-sm btn-outline-danger mt-2" (click)="DeleteSubOrg(suborg.Id)"><i class="pi pi-trash"></i></button></td>
                  </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-suborg>
                  <tr>
                      <td colspan="7">
                          <div class="p-3">
                            <div class="card">
                              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                               
                                 <div class="badge-container" *ngIf="suborg.isRegulatoryBody" style="position: absolute; top: 10px; right: 10px;">
                                   <span class="badge badge-pill" style="background-color: green; color: white;">Regulatory body</span></div>
                                
                                 <!-- <img [src]="getPath(emp.Photo)" alt="Profile" class="rounded-circle"> -->
                                 <h2>{{suborg.OrganizationNameInLocalLanguage}}</h2>
                                
                                 <h3>{{suborg.OrganizationNameEnglish}}</h3>
           
                                 <h6 class="text-center mt-1">{{suborg.Address}}</h6>
                                 
                                 
                                 <h4>{{suborg.PhoneNumber}}</h4>
                                 <div class="social-links mt-2">
                                    <!-- <a id="updateButton" class="btn btn-warning text-white"><i
                                          class="bi bi-pencil"></i> Update
                                    </a> -->
                                    <h6 class="text-center mt-1">System Admin Username -{{suborg.UserName}}</h6>
                                    <h6 class="text-center mt-1">System Admin Password -{{suborg.Password}}</h6>
                                 </div>
                                 
                              </div>
                           </div>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
        </div>   
      </div>
    </section>
</main>