<main id="main" class="main">
  <div class="pagetitle">
    <h1> {{'KPI List' | translate}}</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"> {{'Home' | translate}}</a></li>
        <li class="breadcrumb-item"> {{'KPI' | translate}}</li>
        <li class="breadcrumb-item active"> {{'List' | translate}}</li>
      </ol>
    </nav>

   </div>
   <div #excelTable>





      <div class="text-end col-lg-12">
        <button class="btn btn-outline-primary text-end mb-3" (click)="addKpi()"><i class="bi bi-plus me-1"></i>  {{'KPI' | translate}}
        </button> 
      </div>

      <section class="section profile">
         <div class="row">

            <div class="col-lg-6" *ngFor="let kpi of KPIList" style="cursor: pointer;">

               <div class="card">
                  <div class="card-header">

                     <div>
                        <div>
                           {{kpi.Title}}
                        </div>
                        <div style="text-align: right!important;">
                           <span *ngIf="kpi.HasSubsidiaryOrganization"
                              class="badge bg-success">{{kpi.AccessCode}}</span>
                        </div>
                     </div>
                  </div>
                  <div class="card-body" style="background-color: #f6f9ff !important;">
                     <!-- (click)="tasks(plan)" -->
                     <h5 class="card-title ">
                        <div class="row">
                           <div class="col-md-10">
                              {{kpi.Title}}

                           </div>

                        </div>
                     </h5>

              <div class="text-center" style="color: #798eb3;">
                 <span class="card-title">  {{'Encoder Organization Name' | translate}} :</span>
                 {{kpi.EncoderOrganizationName}} &nbsp;<br/>
                 <span class="card-title">  {{'Evaluator Organization Name' | translate}} : </span>
                 {{kpi.EvaluatorOrganizationName}} <br />
                 
              </div>
           </div>
           <div class="card-footer">

              <div class="row">
                 <div class="col-lg-4">
                     {{'Start Year' | translate}} : {{kpi.StartYear}}

                        </div>

                        <div style="text-align: right!important;">
                           <button class="btn btn-primary text-end" (click)="routeToKPIDetail(kpi.Id)"> KPI Detail
                           </button>
                        </div>
                     </div>

                     <!-- <div style="text-align: right; ">
                        {{plan.PlanWeight}} %
                     </div> -->


                     <div class="progress mt-3">

                     </div>
                  </div>
               </div>

               <!-- mmm -->


               <!-- mmmmm -->

            </div>
         </div>
      </section>


   </div>
</main>