<main id="main" class="main">
  <div class="pagetitle">
    <h1>Program</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Programs</li>
        <li class="breadcrumb-item active">List</li>
      </ol>
    </nav>

  </div>
  <div class="card" #excelTable>
    <div class="card-body p-2">
      <div class="row">
        <div class="col-9">

        </div>

        <div class="col-3 text-end">
          <label class="form-label">Filter By</label>
          <select class="form-control " [(ngModel)]="filterBy" (change)="onFilterByChange()">

            <option value=0>Monthly</option>
            <option value=1>Quarterly</option>
          </select>
        </div>
      </div>
      <h6 class="mt-2">Organization: <b> </b> </h6>
      <h6 class="mt-2">Project: <b> </b> </h6>
      <h6>Period of Performance:
        <b> </b>
      </h6>
      <div class="text-end col-lg-12">
        <button class="btn btn-outline-primary text-end mb-3" (click)="addTask()"><i class="bi bi-plus me-1"></i> Task
        </button> |
        <button class="btn btn-outline-success text-end mb-3" (click)="exportAsExcel()"><i class="bi bi-file-excel"></i>
          Export Excel </button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered mt-2 " id="myTable">
          <thead>
            <tr>
              <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">
                ከዘላቂ ልማት ግቦች ጋር ያለው ትስስር በአፈጻጸም አመልካች ደረጃ</th>
              <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black">ዋና ዋና የሚጠበቁ ስኬቶች
              </th>
              <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">የአፈጻጸም አመልካቾች
              </th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">መነሻ ዓመት
              </th>
              <th scope="col" [attr.colspan]="filterBy==0?1:10" style="border: 1px solid black;">ዒላማዎች
              </th>
              <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">የመረጃ ምንጭ
              </th>
              <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">የክትትልና ግምገማ ተግባሩን
                የሚያስተባብረው የዘርፉ መ/ቤት ስም
              </th>

            </tr>
            <tr>
              <th scope="col" [attr.colspan]="filterBy==0?1:01" style="border: 1px solid black;">2012</th>

              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2012</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2013</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2014</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2015</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2016</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2017</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2018</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2019</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2020</th>
              <th scope="col" [attr.colspan]="filterBy==0?1:1" style="border: 1px solid black;">2021</th>

            </tr>

          </thead>
          <!-- <tbody class="labels">
            <tr>

              <td [attr.colspan]="filterBy==0?23:11" style="border: 1px solid black; background-color: #D5FFFF"> </td>
            </tr>
          </tbody> -->
          <ng-template #staticContent>

            <tbody class="labels">
              <tr>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                  ተግባር
                </td>
                <td [attr.colspan]="filterBy==0?14:10"
                  style="border: 1px solid black;  background-color: #e8ffde;width: 200px; cursor: pointer;">
                  ክብደት
                </td>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                </td>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                </td>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                </td>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                </td>
                <td style="border: 1px solid black; background-color: #e8ffde ">
                </td>
                
              </tr>
            </tbody>
          </ng-template>
          <ng-container *ngTemplateOutlet="staticContent">

          </ng-container>
        </table>
      </div>
    </div>
  </div>
</main>
