<main id="main" class="main">
  <div class="pagetitle">
    <h1>Program</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Programs</li>
        <li class="breadcrumb-item active">List</li>
      </ol>
    </nav>

  </div>
  <div class="card" #excelTable>
    <div class="card-body p-2">
      <div class="row">
        <div class="col-9">
        </div>
      </div>
      <h6 class="mt-2">Organization: <b> </b> </h6>
      <h6 class="mt-2">Project: <b> </b> </h6>
      <h6>Period of Performance:
        <b> </b>
      </h6>
      <div class="text-end col-lg-12">
        <button class="btn btn-outline-primary text-end mb-3" (click)="addKpi()"><i class="bi bi-plus me-1"></i> KPI
        </button> |
        <button class="btn btn-outline-success text-end mb-3" (click)="exportAsExcel()"><i class="bi bi-file-excel"></i>
          Export Excel </button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered mt-2 " id="myTable">

          <thead>
            <tr>
              <th scope="col" rowspan="2" style="border: 1px solid black;">ዋና ዋና የሚጠበቁ ስኬቶች</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የአፈጻጸም አመልካቾች</th>
              <th scope="col" colspan="1" style="border: 1px solid black;">መነሻ ዓመት</th>
              <th scope="col" colspan="10" style="border: 1px solid black;">ዒላማዎች</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የመረጃ ምንጭ</th>
              <th scope="col" rowspan="2" style="border: 1px solid black;">የክትትልና ግምገማ ተግባሩን የሚያስተባብረው የዘርፉ መ/ቤት ስም</th>
            </tr>
            <tr>
              <th scope="col" style="border: 1px solid black;">2012</th>
              <th scope="col" style="border: 1px solid black;">2012</th>
              <th scope="col" style="border: 1px solid black;">2013</th>
              <th scope="col" style="border: 1px solid black;">2014</th>
              <th scope="col" style="border: 1px solid black;">2015</th>
              <th scope="col" style="border: 1px solid black;">2016</th>
              <th scope="col" style="border: 1px solid black;">2017</th>
              <th scope="col" style="border: 1px solid black;">2018</th>
              <th scope="col" style="border: 1px solid black;">2019</th>
              <th scope="col" style="border: 1px solid black;">2020</th>
              <th scope="col" style="border: 1px solid black;">2021</th>
            </tr>
          </thead>

          <ng-template #staticContent>
            <tbody class="labels">
              <tr>
                <td style="border: 1px solid black; background-color: #e8ffde">Dummy Data 1</td>
                <td style="border: 1px solid black; background-color: #e8ffde">Dummy Data 2</td>
                <td style="border: 1px solid black; background-color: #e8ffde">2012</td>
                <td style="border: 1px solid black; background-color: #e8ffde">10</td>
                <td style="border: 1px solid black; background-color: #e8ffde">20</td>
                <td style="border: 1px solid black; background-color: #e8ffde">30</td>
                <td style="border: 1px solid black; background-color: #e8ffde">40</td>
                <td style="border: 1px solid black; background-color: #e8ffde">50</td>
                <td style="border: 1px solid black; background-color: #e8ffde">60</td>
                <td style="border: 1px solid black; background-color: #e8ffde">70</td>
                <td style="border: 1px solid black; background-color: #e8ffde">80</td>
                <td style="border: 1px solid black; background-color: #e8ffde">90</td>
                <td style="border: 1px solid black; background-color: #e8ffde">100</td>
                <td style="border: 1px solid black; background-color: #e8ffde">Dummy Data 3</td>
                <td style="border: 1px solid black; background-color: #e8ffde">Dummy Data 4</td>
              </tr>
            </tbody>
          </ng-template>
          <ng-container *ngTemplateOutlet="staticContent">

          </ng-container>
        </table>
      </div>
    </div>
  </div>
</main>
