
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> {{ 'Add Budget List for' | translate }} {{programBudget!.Name}}</h5>
                <button type="button" class="btn-close" id="ModalClose" (click)="modalClose()"
                    aria-label="Close"></button>
            </div>

            <div class="card">
                <div class="card-body">


                    <h5 class="card-title">  {{ 'Budget Year' | translate }}</h5>
                    <div class="text-end col-lg-12">
                        <button class="btn btn-primary text-end mb-3" (click)="addBudgetYear()">  {{ 'Add Budget Year' | translate }} </button>
                    </div>

                    <table class="table  table-hover">
                        <thead>
                            <tr>

                                <th scope="col">#</th>
                                <th scope="col"> {{ 'Year' | translate }}</th>
                                <th scope="col"> {{ 'From Date' | translate }}</th>
                                <th scope="col"> {{ 'To Date' | translate }}</th>
                                <th scope="col"> {{ 'Remark' | translate }}</th>
                                <th scope="col"> {{ 'Action' | translate }}</th>


                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let by of budgetYears ; let i= index">

                                <th scope="row">{{i+1}}</th>
                                <td>{{by.Year}}</td>
                                <td>{{by.FromDate}}</td>
                                <td>{{by.ToDate}}</td>
                                <td>{{by.Remark}}</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-warning mt-2" (click)="UpdateBudgetYear(by)"><i class="pi pi-pencil"></i></button> &nbsp;
                                    <button class="btn btn-sm btn-outline-danger mt-2" (click)="DeleteBudgetYear(by.Id)"><i class="pi pi-trash"></i></button></td>


                            </tr>
                        </tbody>


                    </table>


                </div>
            </div>
        </div>
